<div ng-if="isReadMode()" ng-click="enableWriteMode()" class="clickable">
    <p class="list-group-item-text" ng-repeat="item in displayValue">
        <span style="padding-left: 0px;">
            <b>{{item.classId}}</b>
        </span> -
        <span>{{item.hours}} год.</span>
        <span>{{item.dividable ? ' ділиться' : ''}}</span>
    </p>
    <p class="list-group-item-text" ng-if="isEmpty(displayValue)">-</p>
</div>
<div ng-if="isWriteMode()">
    <form class="form-inline" ng-repeat="setting in settings track by $index" style="margin-bottom: 3px;">
        <editable-select holder="setting"
                         placeholder="'Клас'"
                         get-value-by="'classId'"
                         stateless="true"
                         options="classes"></editable-select>
        <editable-text holder="setting"
                       placeholder="'К-сть годин'"
                       get-value-by="'hours'"
                       stateless="true"></editable-text>
        <div class="checkbox">
            <editable-checkbox holder="setting"
                           placeholder="'Поділ'"
                           get-value-by="'dividable'"
                           stateless="true"></editable-checkbox>
        </div>
        <button class="btn btn-default" ng-click="removeSetting($index)">-</button>
        <button ng-if="$index === settings.length - 1" class="btn btn-default" ng-click="addSetting()">+</button>
    </form>
    <button ng-if="settings.length === 0" class="btn btn-default" ng-click="addSetting()">+</button>
    <button class="btn btn-default" ng-click="prepareAndSave()">Зберегти зміни</button>
    <button class="btn btn-default" ng-click="enableReadMode()">Скасувати</button>
</div>