/**
 * Copyright 2016 Dmytro Babichev
 * <p>
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * <p>
 * http://www.apache.org/licenses/LICENSE-2.0
 * <p>
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
table.timetable {
    width: 280px;
}

table.timetable td {
    line-height: 1.15 !important;
}

td.timetable-cell.open {
    border: 1px solid green;
}

td.timetable-cell.locked {
    border: 1px solid red;
}
td.timetable-cell:hover {
    background-color: aliceblue;
    cursor: pointer;
}

td.timetable-cell {
    height: 37px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.clickable:hover {
    cursor: pointer;
}