.tt-hint {
	display: block;
	width: 100%;
	color: #999;
	vertical-align: middle;
}
.tt-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;

}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion:hover {
	color: #fff;
	background-color: #428bca;
	cursor: pointer;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #428bca;
}