<!doctype html>
<html ng-app="timetableApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="copyright" content="Dmytro Babichev">
    <meta name="license" content='
        Licensed under the Apache License, Version 2.0 (the "License");
        you may not use this file except in compliance with the License.
        You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

        Unless required by applicable law or agreed to in writing, software
        distributed under the License is distributed on an "AS IS" BASIS,
        WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        See the License for the specific language governing permissions and
        limitations under the License.'>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/timetable.css" rel="stylesheet">
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="/css/typeahead.js-bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-3.1.0.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/app/app.module.js"></script>
    <script src="/js/app/app.config.js"></script>
    <script src="/js/typeahead.jquery.js"></script>
    <script src="/js/controller/timetableController.js"></script>
    <script src="/js/controller/classController.js"></script>
    <script src="/js/controller/teacherController.js"></script>
    <script src="/js/controller/subjectController.js"></script>
    <script src="/js/controller/configController.js"></script>
    <script src="/js/service/configDao.js"></script>
    <script src="/js/service/classDao.js"></script>
    <script src="/js/service/teacherDao.js"></script>
    <script src="/js/service/subjectDao.js"></script>
    <script src="/js/service/timetableDao.js"></script>
    <script src="/js/service/widgetInitializer.js"></script>
    <script src="/js/service/webSocket.js"></script>
    <script src="/js/factory/classFactory.js"></script>
    <script src="/js/factory/teacherFactory.js"></script>
    <script src="/js/factory/subjectFactory.js"></script>
    <script src="/js/factory/timetableFactory.js"></script>
    <script src="/js/widget/errorWidget.js"></script>
    <script src="/js/widget/editableText.js"></script>
    <script src="/js/widget/editableCheckbox.js"></script>
    <script src="/js/widget/editableSelect.js"></script>
    <script src="/js/widget/composed/hoursPerClass.js"></script>
    <script src="/js/global/global.js"></script>
    <script src="/js/global/constants.js"></script>
    <script src="/js/testing/test.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Конструктор розкладу</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="{{tabClass(['/', '/timetable'])}}"><a href="#!/">Розклад</a></li>
                <li class="{{tabClass(['/classes'])}}"><a href="#!/classes">Класи</a></li>
                <li class="{{tabClass(['/teachers'])}}"><a href="#!/teachers">Вчителі</a></li>
                <li class="{{tabClass(['/subjects'])}}"><a href="#!/subjects">Предмети</a></li>
                <li class="{{tabClass(['/config'])}}"><a href="#!/config">Налаштування</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" ng-view></div>
<br>
<footer class="footer">
    <div class="container">
        <div class="pull-right"><p class="text-muted">2017, Dmytro Babichev © </p></div>
    </div>
</footer>
</body>
</html>