<div class="row indent">
    <div class="col-md-12">
        <error exception="exception"></error>
        <!--<ul class="nav nav-tabs">-->
            <!--<li ng-repeat="year in years" ng-class="{'active': selectedYear === year}">-->
                <!--<a ng-href="#!/classes/{{year}}">{{year}}</a>-->
            <!--</li>-->
        <!--</ul>-->
        <div class="tab-content">
            <div class="tab-pane active">
                <br>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <td>Клас</td>
                        <td>Класний керівник</td>
                        <td>Операція</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="clazz in classes[selectedYear]">
                        <td class="col-md-6">
                            <editable-text placeholder="'1-А'"
                                           value="clazz.title"
                                           callback="updateClass(clazz, 'title', newValue)"
                                           validator="isValid(newValue)"></editable-text>
                        </td>
                        <td class="col-md-5">{{clazz.teacher.name || '-'}}</td>
                        <td class="col-md-1">
                            <button class="btn btn-default btn-sm" title="Видалити"
                                    ng-click="deleteClass(clazz.id)">
                                <i class="glyphicon glyphicon-remove pull-right"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-2">
                        <form>
                            <div class="form-group">
                                <label>Назва нового класу</label>
                                <editable-text placeholder="'1-А'"
                                               holder="newClassHolder"
                                               get-value-by="'title'"
                                               stateless="true"></editable-text>
                            </div>
                            <button ng-disabled="!isValid(newClassHolder.title)"
                                    class="btn btn-default" ng-click="addClass()">Додати клас
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>