<div class="row indent">
    <div class="col-md-12">
        <h3>Правила побудови розкладу</h3>
        <div class="checkbox" ng-repeat="switcher in booleanSettings">
            <label>
                <input type="checkbox" ng-model="switcher.value" ng-change="save()">
                {{showTitle(switcher.title, switcher.value)}}
            </label>
        </div>
    </div>
</div>