<div class="row indent">
    <div class="col-md-12">
        <error exception="exception"></error>
        <!--<ul class="nav nav-tabs">-->
            <!--<li ng-repeat="year in years" ng-class="{'active': selectedYear === year}">-->
                <!--<a ng-href="#!/subjects/{{year}}">{{year}}</a>-->
            <!--</li>-->
        <!--</ul>-->
        <div class="tab-content">
            <div class="tab-pane active">
                <br>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <td>Назва предмету</td>
                        <td>Вчитель</td>
                        <td>Навантаження</td>
                        <td>Операція</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="subject in subjects[selectedYear]">
                        <td class="col-md-2">
                            <editable-text placeholder="'Алгебра'"
                                           value="subject.title"
                                           callback="updateSubject(subject, 'title', newValue)"
                                           typeahead="subjectTitles"
                                           validator="true"></editable-text>
                        </td>
                        <td class="col-md-4">
                            <editable-select value="subject.teacher"
                                             callback="updateSubject(subject, 'teacher', newValue)"
                                             options="teachers"
                                             placeholder="'-'"></editable-select>
                        </td>
                        <td class="col-md-4">
                            <hours-per-class value="subject.subjectLoad"
                                             classes="classes"
                                             callback="updateSubject(subject, 'subjectLoad', newValue)"></hours-per-class>
                        </td>
                        <td class="col-md-1">
                            <button class="btn btn-default btn-sm" title="Видалити"
                                    ng-click="deleteSubject(subject.id)">
                                <i class="glyphicon glyphicon-remove pull-right"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-2">
                        <form>
                            <div class="form-group">
                                <label>Назва нового предмету</label>
                                <editable-text holder="newSubject"
                                               placeholder="'Алгебра'"
                                               get-value-by="'title'"
                                               typeahead="subjectTitles"
                                               stateless="true"></editable-text>
                            </div>
                            <div class="form-group">
                                <label>Вчитель</label>
                                <editable-select holder="newSubject"
                                                 placeholder="'-'"
                                                 get-value-by="'teacher'"
                                                 stateless="true"
                                                 options="teachers"></editable-select>
                            </div>
                            <button class="btn btn-default" ng-click="addNewSubject()">Додати предмет</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>