<div class="row indent">
    <div class="col-md-12">
        <error exception="exception"></error>
        <!--<ul class="nav nav-tabs">-->
            <!--<li ng-repeat="year in years" ng-class="{'active': selectedYear === year}">-->
                <!--<a ng-href="#!/classes/{{year}}">{{year}}</a>-->
            <!--</li>-->
        <!--</ul>-->
        <div class="tab-content">
            <div class="tab-pane active">
                <br>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <td>Керівний склад</td>
                        <td>Прізвище та ініціали</td>
                        <td>Класне керівництво</td>
                        <td>Операція</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="teacher in teachers[selectedYear]">
                        <td class="col-md-2">
                            <editable-checkbox value="teacher.isManager"
                                               callback="updateTeacher(teacher, 'isManager', newValue)"
                                               validator="newValue != teacher.isManager"></editable-checkbox>
                        </td>
                        <td class="col-md-4">
                            <editable-text value="teacher.name"
                                           callback="updateTeacher(teacher, 'name', newValue)"
                                           validator="isNameValid(newValue)"></editable-text>
                        </td>
                        <td class="col-md-5">
                            <editable-select value="teacher.managedClass"
                                             callback="updateTeacher(teacher, 'managedClass', newValue)"
                                             options="freeClasses[teacher.id]"
                                             placeholder="'-'"></editable-select>
                        <td class="col-md-1">
                            <button class="btn btn-default btn-sm" title="Видалити" ng-click="deleteTeacher(teacher.id)">
                                <i class="glyphicon glyphicon-remove pull-right"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-2">
                        <form>
                            <div class="form-group">
                                <label>Прізвище та ініціали нового вчителя</label>
                                <editable-text holder="newTeacher"
                                               placeholder="'Іванов І.І.'"
                                               get-value-by="'name'"
                                               stateless="true"></editable-text>
                            </div>
                            <div class="checkbox">
                                <editable-checkbox holder="newTeacher"
                                                   placeholder="'Керівний склад'"
                                                   get-value-by="'isManager'"
                                                   stateless="true"></editable-checkbox>
                            </div>
                            <div class="form-group">
                                <label>Класний керівник</label>
                                <editable-select holder="newTeacher"
                                                 placeholder="'-'"
                                                 get-value-by="'managedClass'"
                                                 stateless="true"
                                                 options="freeClasses[newTeacher.id]"></editable-select>
                            </div>
                            <button ng-disabled="!isNewTeacherValid()"
                                    class="btn btn-default" ng-click="addNewTeacher()">Додати вчителя
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>