<div class="row">
    <div class="sidebar">
        <div class="form-inline">
            <div class="form-group">
                <p class="help-block">Експорт розкладу в Excel</p>
                <button class="btn btn-default btn-sm" ng-click="exportTeacherTimetable()">Для вчителів</button>
                <button class="btn btn-default btn-sm" ng-click="exportTimetable()">Для учнів</button>
            </div>
        </div>
        <div ng-repeat="title in sortedSubjects">
            <h4 class="list-group-item-heading" style="margin-top: 15px; margin-bottom: 3px;">{{title}}</h4>
            <hr style="margin: 0px;">
            <ul ng-repeat="subject in subjectBar[title]" class="nav nav-sidebar" style="margin-bottom: 0px;">
                <li ng-class="{'active': subject.active}"
                    ng-click="activate($event, subject)">
                    <a href="#" style="padding-top: 7px; padding-bottom: 3px;">
                        <p class="list-group-item-text" style="font-size: 13px;"><b>{{teacherById(subject.teacher).name}}</b></p>
                        <p class="list-group-item-text" ng-repeat="item in subject.sortedHoursPerClass" style="font-size: 13px;">
                            <span>
                                <b title="Клас">{{item.clazz.title}}</b> <i title="К-сть годин" style="text-decoration: underline;">{{item.hours}} год</i>
                                <span ng-if="item.dividable">(1/2)</span> |
                                <span ng-class="{'label label-success':subject.freeHoursPerClass[item.clazz.id] == 0,
                                        'label label-primary':subject.freeHoursPerClass[item.clazz.id] > 0, 'label label-danger':subject.freeHoursPerClass[item.clazz.id] < 0}">
                                    {{subject.freeHoursPerClass[item.clazz.id]}} лиш
                                </span>
                            </span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding-left: 0px;">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th class="col-md-1">Клас</th>
                <th ng-repeat="day in workingDays">{{weekDays[day]}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="clazz in classes">
                <td>{{clazz.title}}</td>
                <td ng-repeat="day in workingDays">
                    <table class="table table-condensed timetable">
                        <tbody>
                        <tr ng-repeat="lesson in lessons" ng-init="cellTuple = timetable.cell(clazz.id, day, lesson)">
                            <td class="col-md-1">{{lesson}}</td>
                            <td ng-repeat="cell in cellTuple"
                                ng-class="{'locked': cell.status === LOCKED, 'open': cell.status === OPEN}"
                                class="timetable-cell" title="{{cell.description}}"
                                colspan="{{MAX_DIVISIONS == cellTuple.length ? 1 : MAX_DIVISIONS}}"
                                ng-click="addSubject(clazz.id, day, lesson, $index)">
                                {{cell.subjectObj.title}}<br><i>{{teacherById(cell.subjectObj.teacher).name}}</i>
                                                        <span class="glyphicon glyphicon-remove pull-right"
                                                              ng-show="cell.subject !== null && cell.subject !== undefined"
                                                              ng-click="removeSubject($event, cell, clazz.id, day, lesson, $index)"
                                                              aria-hidden="true" style="margin-top: -7px;"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>