<div ng-if="!stateless">
    <div ng-if="isReadMode()" ng-click="enableWriteMode()" class="clickable">{{value === '' || value === null || value === undefined ? placeholder :
        getSelectedOption().title}}</div>
    <div ng-if="isWriteMode()">
        <form class="form-inline">
            <select class="form-control" ng-model="newValue" ng-options="option as option.title for option in options">
                <option value="">{{placeholder}}</option>
            </select>
            <button class="btn btn-default" ng-click="save(newValue.val)">Зберегти зміни
            </button>
            <button ng-if="!isModeFixed()" class="btn btn-default" ng-click="enableReadMode()">Скасувати
            </button>
        </form>
    </div>
</div>
<select ng-if="stateless" class="form-control" ng-model="holder[getValueBy]" ng-options="option.val as option.title for option in options">
    <option value="">{{placeholder}}</option>
</select>