<div ng-if="!stateless">
    <div ng-if="isReadMode()" ng-click="enableWriteMode()" class="clickable">{{value ? 'Так' : 'Ні'}}</div>
    <div ng-if="isWriteMode()">
        <form class="form-inline">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="newValue"> {{newValue ? 'Так' : 'Ні'}}
                    <button ng-disabled="!isValid(newValue)"
                            class="btn btn-default" ng-click="save(newValue)">Зберегти зміни
                    </button>
                    <button ng-if="!isModeFixed()" class="btn btn-default" ng-click="enableReadMode()">Скасувати
                    </button>
                </label>
            </div>
        </form>
    </div>
</div>
<label ng-if="stateless">
    <input type="checkbox" ng-model="holder[getValueBy]"> {{placeholder}}
</label>