<div ng-if="!stateless">
    <div ng-if="isReadMode()" ng-click="enableTextWriteMode()" class="clickable">{{value}}</div>
    <div ng-show="isWriteMode()">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="newValue" class="form-control typeahead" placeholder="{{placeholder}}">
                <button ng-disabled="!isValid(newValue)"
                        class="btn btn-default" ng-click="save(newValue)">Зберегти зміни
                </button>
                <button ng-if="!isModeFixed()" class="btn btn-default" ng-click="enableReadMode()">Скасувати</button>
            </div>
        </form>
    </div>
</div>
<input ng-if="stateless" type="text" ng-model="holder[getValueBy]" class="form-control typeahead" placeholder="{{placeholder}}">