<div ng-if="exception" class="alert alert-danger">
    <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <strong>Увага!</strong> {{exception.message}}
</div>